h2 {
  font-size: 1.4rem;
  word-break: break-word;
  white-space: normal;
  text-align: center;
}

.item-title {
  font-size: 1.5rem;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  line-height: 1.2;
}

.card .form-control {
  max-width: 100px;
  overflow: hidden; }
