<br>
<div class="card h-100 text-center p-3">
  <!-- Product Title -->
  <h2 class="text-capitalize item-title mb-3">
    <u>{{ item.description }}</u>
  </h2>

  <!-- Price Editing Row -->
  <!-- <div class="d-flex align-items-center justify-content-center gap-2 mb-3">
    <span><strong>Price:</strong></span> -->


        <app-price [(itemPrice)]="item.price" (itemPriceChange)="saveNewPriceInItem($event)"   ></app-price>


    <!-- Action Icons -->
    <!-- <i class="fas fa-edit" (click)="updateItemPrice()"></i>
    <i class="fa-solid fa-floppy-disk" (click)="saveItemPrice()"></i>
    <i class="fa-solid fa-xmark" (click)="cancel()"></i> -->
  <!-- </div> -->

  <!-- Image -->
  <img [src]="'/assets/' + item.image" class="img-fluid mb-3" alt="{{ item.description }}">

  <!-- Like/Dislike -->
  <div>
    <i class="fa-solid fa-thumbs-down me-2"></i>
    <i class="fa-solid fa-thumbs-up"></i>
  </div>
</div>

